<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Confirmar Eliminación</h1>
    <div class="container">
        <p>¿Estás seguro de que deseas eliminar esta mascota?</p>
        <form th:action="@{/mascotas/eliminar/{id}(id=${id})}" method="post">
            <button type="submit" class="btn">Eliminar</button>
        </form>
        <a th:href="@{/}" class="btn">Cancelar</a>
    </div>
</body>
</html>
